<header class="flex flex-col sm:flex-row py-5 justify-between items-center bg-soft-theme px-5 relative z-50">
  <a class="cursor-pointer" routerLink="/">Angular</a>
  <nav>
    <ul class="flex gap-4">
      <li *ngFor="let menu of navMenu">
        <a class="cursor-pointer text-sm" routerLink="/{{menu.path}}" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="isLoggedIn ? !publicRoutes.includes(menu.path) : !protectedRoutes.includes(menu.path)">{{menu.title}}</a>
      </li>
      <li (click)="logout()" *ngIf="isLoggedIn">
        <a class="cursor-pointer text-sm">Logout</a>
      </li>
    </ul>
  </nav>
</header>